.footer {
  background-color: #22313e;
  color: #fff;
  padding: 48px 0;
  .footer__grid {
    display: flex;
  }
  &__col {
    &:not(:last-child) {
      margin-right: 80px;
    }
    &__head {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 14px;
      white-space: nowrap;
    }
    &__links {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      a {
        font-size: 14px;
        color: #ddd;
        white-space: nowrap;
      }
    }
  }
  hr {
    border: none;
    border-top: 1px solid #3a4553;
    margin: 40px 0;
  }
  &__copy {
    font-size: 14px;
    color: #ddd;
    text-align: center;
  }
}
