.nav
  background-color: var(--color-dark)
  color: #fff
  height: 60px
  padding: 0 80px
  display: flex
  align-items: center
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999
  a
    color: inherit
    &:hover
      text-decoration: none

  &__brand
    width: 98px
    margin-top: 6px
    margin-right: 54px
    color: #fff
    cursor: pointer

  &__search
    display: flex
    align-items: center
    margin-right: 24px
    &__input
      height: 40px !important
      border: none !important
      outline: none !important
      width: 400px !important
      padding: 0 18px !important
      line-height: 1 !important
      border-radius: 4px 0 0 4px !important
      font-size: 15px !important
      margin-bottom: 0 !important
      box-shadow: none !important

    &__btn
      border: none
      outline: none
      background-color: var(--color-orange)
      display: flex
      align-items: center
      justify-content: center
      height: 40px
      width: 40px
      padding: 8px
      border-radius: 0 4px 4px 0
      cursor: pointer

      svg
        width: 18px
        height: 18px
        color: var(--color-dark)

  &__links
    display: flex
    align-items: center
    margin-left: auto

  &__link
    cursor: pointer
    span
      display: block
      margin-right: 24px

    &LineOne
      font-size: 12px

    &LineTwo
      font-size: 14px
      font-weight: 700

  &__cart
    cursor: pointer
    position: relative

    svg
      width: 24px
      height: 24px

    &__count
      position: absolute
      top: -5px
      right: -5px
      background-color: var(--color-orange)
      color: var(--color-dark)
      font-size: 10px
      font-weight: 600
      height: 16px
      width: 16px
      border-radius: 10px
      display: flex
      align-items: center
      justify-content: center
